In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [12]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.
print(df.loc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
Ans->
1) loc is a label-based indexer. This means that when using loc, you refer to the row and column labels to select data. 
2) You can specify the rows and columns you want to select either by label or boolean mask. 
3) iloc is an integer-based indexer. This means that when using iloc, you refer to the integer position of the rows and columns to select data.
4) You can specify the rows and columns you want to select either by integer index or boolean mask.

In [18]:
# Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
# then find the output for both new_df.loc[2] and new_df.iloc[2].
# Did you observe any difference in both the outputs? If so then explain it.
# Consider the below code to answer further questions:
# Ans->
# 1) The output for new_df.loc[2] and new_df.iloc[2] are different. 
# 2) new_df.loc[2] returns the row with label/index 2, which is the fourth row of the original DataFrame (df1) but the second row of the new DataFrame (new_df) after reindexing.
# 3) On the other hand, new_df.iloc[2] returns the third row of the new DataFrame (new_df) after reindexing, which corresponds to the row with index 1 in the original DataFrame (df1).
# 4) The difference in output is due to the fact that loc and iloc use different indexing methods. 
# 5) loc uses the labels or index values to select rows and columns, while iloc uses the integer positions of the rows and columns to select data. 
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
new_df= df1.reindex([3,0,1,2])
# print(new_df)
print(new_df.loc[2])
print(new_df.iloc[2])

column_1    0.106672
column_2    0.893326
column_3    0.151382
column_4    0.605414
column_5    0.168440
column_6    0.569759
Name: 2, dtype: float64
column_1    0.446560
column_2    0.890467
column_3    0.956543
column_4    0.953642
column_5    0.038380
column_6    0.626943
Name: 1, dtype: float64

In [26]:
# Q4. Write a code to find the following statistical measurements for the above dataframe df1:
# (i) mean of each and every column present in the dataframe.
# (ii) standard deviation of column, ‘column_2’
print(df1.mean())
df1[['column_2']].std()

column_1    0.323424
column_2    0.669425
column_3    0.604653
column_4    0.504009
column_5    0.469986
column_6    0.492523
dtype: float64

column_2    0.319548
dtype: float64

In [34]:
# Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
# mean of column, column_2.
# If you are getting errors in executing it then explain why.
# [Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
# Ans-> There will be Typeerror , and it occurred because in the second column there is combination of string and float values and mean  can only be calculated for numerical data.
str= 'aaa'
df1.iloc[[2]] =str
df1['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
Ans->
1) In Pandas, the rolling function is used to create a rolling window object which can be used to perform various types of window functions on time series or other ordered data.
2) A window function is a way to perform a calculation on a fixed-size "window" of data in a time series or other ordered data.
3) The types of window functions that can be applied using rolling function in Pandas are:
    a) Moving Average: It computes the mean of a fixed-size window of data as it slides along the time series or ordered data.
    b) Moving Median: It computes the median of a fixed-size window of data as it slides along the time series or ordered data.
    c) Moving Maximum: It computes the maximum value of a fixed-size window of data as it slides along the time series or ordered data.
    d) Moving Minimum: It computes the minimum value of a fixed-size window of data as it slides along the time series or ordered data.
    e) Moving Standard Deviation: It computes the standard deviation of a fixed-size window of data as it slides along the time series or ordered data.

In [39]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]
import datetime
now = datetime.datetime.now()
current_month = now.month
current_year = now.year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 4
Current Year: 2023

In [41]:
# Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
# calculates the difference between them in days, hours, and minutes using Pandas time delta. The
# program should prompt the user to enter the dates and display the result.
import pandas as pd
date1 = input("Enter the first date (in the format YYYY-MM-DD): ")
date2 = input("Enter the second date (in the format YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_diff = date2 - date1
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds % 3600) // 60
print("Time difference between", date1.date(), "and", date2.date(), ":")
print("Days:", days)
print("Hours:", hours)
print("Minutes:", minutes)

Enter the first date (in the format YYYY-MM-DD):  2003-12-16
Enter the second date (in the format YYYY-MM-DD):  2023-04-01

Time difference between 2003-12-16 and 2023-04-01 :
Days: 7046
Hours: 0
Minutes: 0

In [ ]:
Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.
Ans->
import pandas as pd
file_path = input("Enter the file path of the CSV file: ")
column_name = input("Enter the name of the column to convert: ")
category_order = input("Enter the order of categories (separated by commas): ").split(',')
df = pd.read_csv(file_path)
df[column_name] = pd.Categorical(df[column_name], categories=category_order)
df_sorted = df.sort_values(by=column_name)
print(df_sorted)

In [ ]:
# Q10. Write a Python program that reads a CSV file containing sales data for different products and
# visualizes the data using a stacked bar chart to show the sales of each product category over time. The
# program should prompt the user to enter the file path and display the chart.
import pandas as pd
import matplotlib.pyplot as plt
file_path = input("Enter the file path of the CSV file: ")
df = pd.read_csv(file_path)
grouped_df = df.groupby(['Product Category', 'Month']).sum()
pivot_df = grouped_df.pivot_table(index='Month', columns='Product Category', values='Sales')
ax = pivot_df.plot(kind='bar', stacked=True)
ax.set_xlabel('Month')
ax.set_ylabel('Sales')
ax.set_title('Sales by Product Category over Time')
plt.show()

In [ ]:
# Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
# a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
# displays the results in a table.
# The program should do the followingM
# I Prompt the user to enter the file path of the CSV file containing the student dataR
# I Read the CSV file into a Pandas DataFrameR
# I Calculate the mean, median, and mode of the test scores using Pandas toolsR
# I Display the mean, median, and mode in a table.
# Assume the CSV file contains the following columnsM
# I Student ID: The ID of the studentR
# I Test Score: The score of the student's test.
# Example usage of the program:
# Enter the file path of the CSV file containing the student data: student_data.csv
# +-----------+--------+
# | Statistic | Value |
# +-----------+--------+
# | Mean | 79.6 |
# | Median | 82 |
# | Mode | 85, 90 |
# +-----------+--------+
# Assume that the CSV file student_data.csv contains the following data:
# Student ID,Test Score
# 1,85
# 2,90
# 3,80
# 4,75
# 5,85
# 6,82
# 7,78
# 8,85
# 9,90
# 10,85
# The program should calculate the mean, median, and mode of the test scores and display the results
# in a table.
# Ans->
import pandas as pd

# Prompt user for file path
file_path = input("Enter the file path of the CSV file containing the student data: ")

# Read CSV file into a DataFrame
df = pd.read_csv(file_path)

# Calculate mean, median, and mode of test scores
mean = df['Test Score'].mean()
median = df['Test Score'].median()
mode = df['Test Score'].mode()

# Display results in a table
results = pd.DataFrame({
    'Statistic': ['Mean', 'Median', 'Mode'],
    'Value': [mean, median, mode]
})

print(results.to_string(index=False))