In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 15.6 MB/s eta 0:00:00
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 35.8 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://breakratr:breakratr@vivekdb.fwdld9x.mongodb.net/?retryWrites=true&w=majority")
db = client['pwskills']

In [6]:
data = {
'name': 'vk',
    'rollno':35,
    'branch': 'AI&DS'
}

In [7]:
collection_1 = db['myrecords']

In [8]:
collection_1.insert_one(data)

In [9]:
data1 = [1,2,3,4,5,6]

In [10]:
collection_1.insert_one(data1)

TypeError: document must be an instance of dict, bson.son.SON, bson.raw_bson.RawBSONDocument, or a type that inherits from collections.MutableMapping

In [15]:
 data2 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [16]:
collection_1.insert_many(data2)

In [18]:
collection_1.find_one()

{'_id': ObjectId('640db869e880e0e4ea9a898b'),
 'name': 'vk',
 'rollno': 35,
 'branch': 'AI&DS'}

In [27]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('640db869e880e0e4ea9a898b'), 'name': 'vk', 'rollno': 35, 'branch': 'AI&DS'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8990'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8991'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8992'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8993'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8994'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8995'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8996'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8997'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640dba0fe880e0e4ea9a8998'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640dba0fe880e0e4ea9a8999'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [21]:
for i in collection_1.find({'name':'Sandy'}):
    print(i)

{'_id': ObjectId('640db9ffe880e0e4ea9a898f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}

In [22]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [23]:
collection_1.insert_many(random_data)

In [28]:
for i in collection_1.find({'_id':{'$gte':'4'}}):#$gte = where greater than equal to ...
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [30]:
collection_1.update_many({'companyName':'iNeuron'},{'$set':{'companyName':'PWSKILLS'}})

In [32]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('640db869e880e0e4ea9a898b'), 'name': 'vk', 'rollno': 35, 'branch': 'AI&DS'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898c'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898d'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898e'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640db9ffe880e0e4ea9a898f'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8990'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8991'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8992'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8993'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8994'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8995'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8996'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640db9ffe880e0e4ea9a8997'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('640dba0fe880e0e4ea9a8998'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('640dba0fe880e0e4ea9a8999'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('640dba0fe880e0e4ea9a899f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('640dba0fe880e0e4ea9a89a3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': '3', 'companyName': 'PWSKILLS', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'PWSKILLS', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'PWSKILLS', 'Faculty': 'PQR'}