In [ ]:
Q.1 What is a database? Differentiate between SQL and NoSQL databases.
Ans->
1) A database is a collection of data that is organized and stored in a way that allows easy access, retrieval, and management of the data.
2) SQL:
    a) SQL databases are traditional databases that use tables with predefined columns and data types to store data. 
    b) They are based on the relational data model, which means that data is organized in tables and linked by relationships. 
    c) THis databases use SQL to manipulate and query data.
3) NoSQL:
    a) NoSQL (Not Only SQL) databases are non-relational databases that use flexible and dynamic data models. 
    b) NoSQL databases do not use tables or predefined schemas, which allows for more flexible data modeling. 
    c) NoSQL databases use various data models, such as document, key-value, column-family, and graph models.

In [ ]:
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans->
1) DDL stands for Data Definition Language, which is used to create, modify, and delete database objects such as tables.
2) DDL statements are used to define the structure and organization of the data in a database.
a) CREATE: This statement is used to create a new database object, such as a table or view, in the database.
e.g:
    create table emp (
  id INT ,
  name VARCHAR(50),
  salary DECIMAL(10,2));

b) DROP: This statement is used to delete an existing database object from the database.
e.g: drop table emp;

c) ALTER: This statement is used to modify an existing database object, such as a table or column.
e.g: alter table emp
add date_of_join INT;

d) Truncate: This statement is used to remove all data from an existing table without deleting the table itself.
e.g Truncate table emp;

In [ ]:
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans->
1) DML stands for Data Manipulation Language, which is used to manipulate data within a database. 
2) DML statements are used to insert, update, and delete data in database tables.
a) INSERT: This statement is used to insert new data into a table.
e.g: insert into emp
values
(1,'sudh',100000000);

b) UPDATE: This statement is used to modify existing data in a table.
e.g:UPDATE employees
SET salary = 55000
WHERE id = 1;

c) DELETE: This statement is used to delete data from a table. 
e.g: delete from table emp
where id = 1;

In [ ]:
Q4. What is DQL? Explain SELECT with an example.
Ans->
1) DQL stands for Data Query Language, which is used to retrieve data from a database. 
2) DQL statements are used to perform queries on database tables and views.
a) SELECT: This statement is used to retrieve data from a table or view.
e.g: 
    select * from emp

In [ ]:
Q5. Explain Primary Key and Foreign Key.
Ans->
1) Primary Key:
    a) A primary key is a unique identifier for a row in a database table. 
    b) It is a column that uniquely identifies each record in the table. 
    c) The primary key must be unique, not null, and it should not change over time. 
    d) Every table should have a primary key defined, as it is used to establish relationships with other tables.
2) Foreign Key: 
    a) A foreign key is a column or a set of columns in one table that refers to the primary key of another table. 
    b) It is used to establish a relationship between two tables. 
    c) The foreign key constraint ensures that the values in the foreign key column of one table match the values in the primary key column of another table.

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Ans-> 
1)import mysql.connector

udb = mysql.connector.connect(
host = "localhost",
user ="abc",
password ="password"
)

2) cursor(): 
    a) THis method creates a new cursor object.
    b) This cursor object can be used to execute SQL queries and retrieve results. 
    c) The cursor object is a temporary work area that is used to interact with the database.
3) execute():
    a) The execute() method is used to execute SQL queries on the database using the cursor object.
    b) The SQL query is passed as an argument to the execute() method.
    c) The execute() method returns the number of rows affected by the query, or None if no rows were affected.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.
Ans->
1) FROM clause: This clause specifies the table or tables from which data will be selected.
2) WHERE clause: This clause is used to filter data based on specific conditions.
3) GROUP BY clause: This clause is used to group the results based on one or more columns.
4) HAVING clause: This clause is used to filter the results of the GROUP BY clause based on specific conditions.
5) SELECT clause: This clause is used to select the columns that should be returned in the result set.
6) ORDER BY clause: This clause is used to sort the results based on one or more columns.
7) LIMIT clause: This clause is used to limit the number of rows returned in the result set