In [5]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
import pandas as pd
a1 = pd.Series([4, 8, 15, 16, 23,42])
print(type(a1))
print(a1)

<class 'pandas.core.series.Series'>
0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [7]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.
a2 = [1,2,3,4,5,6,7,8,9,0]
print(pd.Series(a2))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64

In [10]:
# Q3. Create a Pandas DataFrame that contains the following data:
a3 = {'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Male','Male','Female']}
b3 = pd.DataFrame(a3)
b3

     Name  Age  Gender
0   Alice   25    Male
1     Bob   30    Male
2  Claire   27  Female

In [12]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
# Ans-> 1) In pandas, a DataFrame is a two-dimensional, size-mutable, tabular data structure with labeled axes (rows and columns). It can be thought of as a spreadsheet or a SQL table. 
# 2) Each column in a DataFrame can have a different data type (numeric, string, boolean, etc.), making it a versatile data structure for analyzing and manipulating data.
# 3) On the other hand, a Pandas Series is a one-dimensional labeled array capable of holding any data type, such as integers, strings, floating-point numbers, Python objects, etc.
# 4) The axis labels are collectively called index.
#example
import pandas as pd
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah'],
        'Age': [25, 32, 18, 41],
        'Gender': ['Male', 'Female', 'Male', 'Female']}
df = pd.DataFrame(data)
s = pd.Series(data['Age'])
print("Dataframe:")
print(df)
print("Series:")
print(s)

Dataframe:
    Name  Age  Gender
0   John   25    Male
1   Jane   32  Female
2   Mike   18    Male
3  Sarah   41  Female
Series:
0    25
1    32
2    18
3    41
dtype: int64

In [13]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?
# Ans-> 1) Common Functions of Pandas:
#     a) head() and tail(): To get a quick glimpse of the first few rows or last few rows of the DataFrame.
#     b) describe(): To get a statistical summary of the DataFrame.
#     c) groupby(): To group the data based on one or more columns.
#example: if we have a DataFrame of student information and we want to group the data by gender and calculate the average age for each group, we can use the groupby() function like this:
import pandas as pd
data = {'Name': ['John', 'Jane', 'Mike', 'Sarah'],
        'Age': [25, 32, 18, 41],
        'Gender': ['Male', 'Female', 'Male', 'Female']}
df = pd.DataFrame(data)
gender_mean_age = df.groupby('Gender')['Age'].mean()
print(gender_mean_age)

Gender
Female    36.5
Male      21.5
Name: Age, dtype: float64

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Ans->
1) In Pandas, Series and DataFrame are mutable objects, which means their values can be changed after they have been created.
2) On the other hand, Panel is a three-dimensional data structure and has been deprecated in favor of multi-dimensional indexing with the MultiIndex class.
Nonetheless, Panels are also mutable in nature.

In [14]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.
# Ans->
# 1) To create a DataFrame using multiple Series, we can combine the Series into a dictionary and then pass the dictionary to the DataFrame constructor.
# 2) Each Series will become a column in the resulting DataFrame, and the index of each Series will become the index of the DataFrame.
#example:
# In this example, we created three Series (names, ages, and genders) and combined them into a dictionary called data. 
# We then passed this dictionary to the pd.DataFrame() constructor to create a DataFrame called df with three columns (Name, Age, and Gender).
# The index of the DataFrame is automatically created as a range from 0 to 3.
import pandas as pd
names = pd.Series(['John', 'Jane', 'Mike', 'Sarah'])
ages = pd.Series([25, 32, 18, 41])
genders = pd.Series(['Male', 'Female', 'Male', 'Female'])
data = {'Name': names, 'Age': ages, 'Gender': genders}
df = pd.DataFrame(data)
print(df)

    Name  Age  Gender
0   John   25    Male
1   Jane   32  Female
2   Mike   18    Male
3  Sarah   41  Female